<div id="new_proposed_wagers">

  <form method="POST" action="/proposed_wagers">
    <label for="title">Title</label><br/>
    <input id="title" name="title"><br>
    <label for="date_of_wager">Date of Wager</label><br/>
    <input type="date" id="date_of_wager" name="date_of_wager"><br/>
    <label for="details">Details</label><br/>
    <textarea id="details" name="details"></textarea><br/>
    <label for="amount">Amount</label><br/>
    <input id="amount" name="amount"/>
    <label for="wageree_dd">Wageree</label>
    <select id="wageree_dd" name="wageree_dd">
      <%@list_of_users.each do |user_hash| %>

        <option value=<%=user_hash.id%>><%=user_hash.email%></option>
      <%end%>
    </select>
    <button>Submit</button>
  </form>


</div>