<h1>Log an MVP</h1>


<form method="POST" action="/mvps">
  <label id="date">Date</label><br/>
  <input type="date" id="date" name="date"/><br/>
  <label for="description">Description</label><br/>
  <textarea id="description" name="description"></textarea><br/>
  <button>Submit</button>
  <a href="/">Cancel</a>
  <br/><br/>
</form>