<div id="show_users">
<h1>Account Details</h1>
<hr />

<table>
  <thead>
  <td>Deposits</td>
  <td>Amount</td>
  </thead>
  <tbody>
  <tr>
    <td id="deposits">$<%=deposit_total%></td>
    <td id="net_amount">$<%=net_amount%></td>
  </tr>
  </tbody>
</table>

<a href="/deposits/new/<%=account["id"]%>">Fund My Account</a>







</div>